#stage {
    width: 1000px;
    height: 700px;
    border: 10px rebeccapurple solid;
    text-align: center;
    margin: 0 auto;
    /* background-image: url('images/dojo.jpg'); */
    background-color: #000;
    background-size: cover;
}

.popup{
    width: 300px;
    height: 150px;
    border: #708090 3px solid;
    margin: 0 auto;
    border-radius: 10px;
    background: thistle;
    opacity: 0.8;
}

button {
    display: inline-block;
    width: 80px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

h1 {
    margin: 0;
}

.selectplayers{
    width: 300px;
    height: 150px;
    border: #708090 3px solid;
    margin: 0 auto;
    border-radius: 10px;
    background: thistle;
    opacity: 0.8;
    display: none;
}

.player1{
    width: 150px;
    height: auto;
    left: 150px;
    top: auto;
    position: absolute;
}
.player2{
    width: 150px;
    height: auto;
    left: 850px;
    top: auto;
    position: absolute;
}